.home {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.btn {
  padding: 10px 20px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  border: 2px solid skyblue;
}
